# Ignores all dotfiles except this .gitignore.
.*
!.gitignore

# Ignores assignment pdf files.
*.pdf

# Ignores submission directory.
submission

# Ignores files under directory __pycache__.
__pycache__

# Ignores temporal files from assignment 3.
error-analysis
grader-auto.out
weights

# Ignores directories and files used for venv.
bin/
include/
lib/
share/
pyvenv.cfg